*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans", sans-serif;
}
header{
    background-color: #FF900E1A;
    margin-bottom: 50px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;
}
.nav-title, .fact-title{
    font-size: 1.6rem;
    font-weight: 700;
    color: #131313;
}
.nav-container ul{
    display: flex;
    gap: 25px;
    font-size: 1rem;
    font-weight: 500;
}
.nav-container ul> li{
    list-style: none;
    
}
.nav-container a{
    text-decoration: none;
    color: #424242;

}
.banner-content{
    text-align: center;
    margin-top: 30px;
}
.banner-title{
    font-size: 2.5rem;
    font-family: 800;
    color: #131313;
}
.banner-description{
    max-width: 700px;
    margin: 0 auto;
    font-size: 0.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #727272;
}
.btn-primary{
    padding: 10px 15px;
    background-color: #FF900E;
    color: #fff;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}
.banner-img{
    max-width: 800px;
    margin-left: 80px;
}
/* banner section end */

/* quick section start */
main{
    max-width: 900px;
    margin: 0 auto;
}
.img11{
    width: 200px;
}
.quick-list-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}
.quick-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.quick-content{
    max-width: 350px;
}
.quick1{
    font-size: 2rem;
    color: rgb(95, 95, 95);
}
.quick2{
    font-size: 2.25rem;
    font-weight: 800;
    color: #131313;
}
.quick3{
    font-size: 2.25rem;
    font-weight: 800;
    color: #FF900E;
}
.quick-description{
    font-size: 0.70rem;
    color:#727272;
    margin: 10px 0;
}
/* quick section end */

/* fact section start */
.fact-title{
    color: #131313;
}
.fact-container{
    max-width: 400px;
    margin: 50px;

}
.fact-description{
    font-size: 0.70rem;
    color: #727272;
}
.fact-box-container{
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    margin-bottom: 50px
}
.fact-box{
    border: 2px solid #FF900E;
    border-radius: 5px;
    width: 170px;
    height: 140px;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    
}
.fact-number{
    font-weight: 600;
    font-size: 2rem;
    color: #131313;
}
.awards{
    font-size: 0.70rem;
    font-weight: 600;
    color: #727272;
}
/* fact section end */




/* Responsive layout */
/* smaller device */
@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-container ul{
        padding-top: 10px;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-img{
        max-width: 100%;
        margin: 0px;
    }
    .quick-list-container{
        flex-wrap:wrap-reverse;
    }
    .fact-box-container{
        flex-wrap: wrap;
        gap: 10px;
    }
}


/* medium device */
@media screen and (min-width:577px) and (max-width:792px) {
    .banner-img{
        max-width: 100%;
        margin: 0px;
    }
}